{% extends "KingFrontBundle:Layout:security.html.twig" %}

{% block title %}Đăng ký tài khoản{% endblock %}

{% block style %}
<link href="{{ asset('bundles/kingfront/css/auth-style.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    {% if form.vars.errors|length > 0 %}
        <div class="fwfl">
            <div class="_fwfl _bgop _tw _tc _fwb _fs13 auth-errors">
                {% for error in form.vars.errors %}
                    <p>{{ error.message }}</p>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="container">
        <div class="auth">

            <div class="_fwfl _bgw _r3 _sd auth-inside">
                <div class="auth-space">
                    <div class="auth-content">

                        {{ form_start(form, { 'action':path('king_front_register'), 'method':'POST', 'attributes':{ 'class':'_fwfl' } }) }}
                            {{ form_widget(form.email, { 'attr': {  'class':'_fwfl _r3 _ff0 auth-field', 'placeholder':'fo.common.email'|trans({}, 'KingFrontBundle') } }) }}
                            {{ form_widget(form.fullName, { 'attr': {  'class':'_fwfl _r3 _ff0 auth-field', 'placeholder':'fo.common.fullname'|trans({}, 'KingFrontBundle') } }) }}
                            {{ form_widget(form.password.first, { 'attr': {  'class':'_fwfl _r3 _ff0 auth-field', 'placeholder':'fo.common.pass'|trans({}, 'KingFrontBundle') } }) }}
                            {{ form_widget(form.password.second, { 'attr': {  'class':'_fwfl _r3 _ff0 auth-field', 'placeholder':'fo.common.passconfirm'|trans({}, 'KingFrontBundle') } }) }}
                            <input type="hidden" name="_target_path" value="/" />
                            <button class="_fwfl _r3 _tw _fwb _fs13 _bgb _o0 auth-field auth-btn" >{{ 'fo.register'|trans({}, 'KingFrontBundle') }}</button>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="_fwfl auth-footer">
                    <a class="_w50 _fl  _tb _td_i _tc auth-foot-nav auth-foot-nav-left" href="#">{{ 'fo.common.login'|trans({}, 'KingFrontBundle') }}</a>
                    <a class="_w50 _fl _tb _td_i _tc auth-foot-nav" href="#">{{ 'fo.common.forgotpass'|trans({}, 'KingFrontBundle') }}</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}