<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} | Halloo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ asset('bundles/kingbackend/css/bootstrap.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/kingbackend/css/font-awesome.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/kingbackend/css/style.css') }}" rel="stylesheet" />
        {% block style %}{% endblock %}
    </head>
    <body>
        <div class="_fwfl _m0 _bgw header">
            <div class="_ma _fh header-inside">
                <div class="_fwfl _fh header-content">
                    <div class="_fl header-left">
                        <a class="logo">#hallo</a>
                    </div>
                    <div class="_fr header-right">
                        <div class="_fl search-block">
                            <form class="_fhfl form-search">
                                <input type="text" class="_fwfl _r3 _tb input-header-search" placeholder="Search..."/>
                            </form>
                            <span class="_btnr _fl _tw _r3 _td_i _tc header-location"><i class="fa fa-map-marker"></i> Ho Chi Minh</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <srcipt src="{{ asset('bundles/kingbackend/js/jquery_v1.11.1.js') }}"></srcipt>
    <srcipt src="{{ asset('bundles/kingbackend/js/bootstrap.js') }}"></srcipt>
    <srcipt src="{{ asset('bundles/kingbackend/js/script.js') }}"></srcipt>
</html>
