<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} | Control center</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ asset('bundles/kingbackend/css/bootstrap.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/kingbackend/css/font-awesome.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/kingbackend/css/style.css') }}" rel="stylesheet" />
    </head>
    <body>
        <div class="_fwfl _bgw header">
            <a href="{{ path('king_backend_logout') }}" class="_fr _td_i _tg1 _cp logout-btn">Logout <i class="fa fa-sign-out"></i></a>
        </div>

        <div class="_fwfl admin-wrapper">

            <div class="_fl left-col">

                <div class="_fwfl admin-box">
                    <h4 class="_fwfl _fs16 _tb _m0 hallo-admin">
                        <span class="_fs13 hallo">{{ 'layout.hello'|trans({}, 'KingBackendBundle') }} </span>
                        Administrator
                    </h4>
                    <a href="#" class="_fl _r3 _td_i _fs12 edit-acc-nav"><i class="fa fa-gear"></i> Setting</a>
                </div>



                <div class="vertical-nav-line"></div>
            </div>

            <div class="right-col">
                <div class="_fwfl right-col-header">
                    <div class="_fwfl right-col-breadcrumb">
                        <ol class="breadcrumb _fs13 admin-breadcrumb">

                        </ol>
                    </div>

                    <div class="_fwfl _tb admin-page-info">

                    </div>
                </div>

                <div class="admin-content-wrapper">
                    <div class="admin-content">

                    </div>
                </div>

            </div>
        </div>
    </body>

    <srcipt src="{{ asset('bundles/kingbackend/js/jquery_v1.11.1.js') }}"></srcipt>
    <srcipt src="{{ asset('bundles/kingbackend/js/bootstrap.js') }}"></srcipt>
    <srcipt src="{{ asset('bundles/kingbackend/js/script.js') }}"></srcipt>
</html>
