{% extends "KingBackendBundle:Layout:security.html.twig" %}

{% block body %}
    <div class="container">
        <div class="auth">

            <div class="_fwfl _bgw _r3 _sd auth-inside">
                <div class="auth-space">
                    <div class="auth-content">
                        <h4 class="_fwfl _tb auth-welcome"><i class="glyphicon glyphicon-user"></i> {{ 'Welcome login!'|trans }}</h4>

                        {{ form_start(form, { 'action':path('king_backend_login_check'), 'method':'POST', 'attributes':{ 'class':'_fwfl' } }) }}
                            {{ form_widget(form._username, { 'attr': {  'class':'_fwfl _r3 _ff0 auth-field', 'placeholder':'Username ', 'value':last_username } }) }}
                            {{ form_widget(form._password, { 'attr': {  'class':'_fwfl _r3 _ff0 auth-field auth-password', 'placeholder':'Password' } }) }}

                            <span class="_fwfl auth-remember">
                                <label>
                                    {{ form_widget(form._remember_me, { 'attr': {  'class':'_fl _fc0 auth-remember-checkbox', 'checked':'checked'} }) }}
                                    <span class='_fl _tb auth-remember-txt'>{{ 'remember me'|trans }}</span>
                                </label>
                            </span>

                            <input type="hidden" name="_target_path" value="/admin" />

                            <button type="submit" class="_fwfl _fc0 _r3 _tw _bgb _fwb auth-btn">{{ 'Login'|trans }}</button>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="_fwfl auth-footer">
                    <a class="_w50 _fl _tb _td_i _tc auth-foot-nav auth-foot-nav-left" href="#">{{ 'New account'|trans }}</a>
                    <a class="_w50 _fl _tb _td_i _tc auth-foot-nav" href="#">{{ 'Forgot password?'|trans }}</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}