<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} | Halloo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ asset('bundles/kingfront/css/bootstrap.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/kingfront/css/font-awesome.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/kingfront/css/style.css') }}" rel="stylesheet" />
        {% block style %}{% endblock %}
    </head>
    <body>
        {#    HEADER    #}
        <div class="_fwfl _m0 _bgw header">
            <div class="_ma _fh _w970 header-inside">
                <div class="_fwfl _fh header-content">
                    {#    HEADER LEFT    #}
                    <div class="_fl header-left">
                        <a class="logo">#hallo</a>
                    </div>
                    {#    END HEADER LEFT    #}
                    
                    {#    HEADER RIGHT    #}
                    <div class="_fr header-right">
                        <div class="_fwfl header-right-inside">
                            {#    HEADER SEARCH    #}
                            <div class="_fl search-block">
                                <form class="_fhfl form-search">
                                    <input type="text" class="_fwfl _r3 _tb input-header-search" placeholder="Search..."/>
                                    <button class="_fl _tb _fs15 btn-search-header">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </form>
                                <span class="_btnb _fl _cp _tw _r3 _td_i _tc header-location">
                                    <i class="glyphicon glyphicon-map-marker"></i> 
                                    Ho Chi Minh 
                                    <i class="caret"></i>
                                </span>
                            </div>
                            {#    END HEADER SEARCH    #}
                            
                            {#    HEADER LOGIN/SIGNUP    #}
                            <div class="_fr">
                                <a href="{{ path('king_front_login') }}">Login</a>
                                <span >/</span>
                                <a href="{{ path('king_front_register') }}">Register</a>
                            </div>
                            {#    END HEADER LOGIN/SIGNUP    #}
                        </div>
                    </div>
                    {#    END HEADER RIGHT    #}
                </div>
            </div>
        </div>
        {#    END HEADER    #}
        
        {#    BODY    #}
        <div class="_fwfl body">
            <div class="_w970 _ma body-inside">
                {#    BODY HEADER   #}
                <div class="_fwfl profile-header">
                    <div class="_fwfl cover-block"></div>
                    <div class="_fwfl profile-nav-bar"></div>
                </div>
                {#    BODY HEADER   #}
                
                <div class="_fwfl profile-content">
                    
                    <div class="_fwfl product-container">
                        <ol class="_fwfl _ls product-tree">
                            {% for i in 1..10 %}
                                {% set productNoMarginLeft = '' %}
                                {% if i % 3 == 0 %}
                                    {% set productNoMarginLeft = '_product-no-margin-right' %}
                                {% endif %}
                                <li class="{{ productNoMarginLeft }}">
                                    <div class="_fwfl _product"></div>
                                </li>
                            {% endfor %}
                        </ol>
                    </div>
                    
                </div>
            </div>
        </div>
        {#   END BODY    #}
    </body>

    <srcipt src="{{ asset('bundles/kingfront/js/jquery_v1.11.1.js') }}"></srcipt>
    <srcipt src="{{ asset('bundles/kingfront/js/bootstrap.js') }}"></srcipt>
    <srcipt src="{{ asset('bundles/kingfront/js/script.js') }}"></srcipt>
</html>
